<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>982688332078-jrcn2eg7hcvvosq3fv0hj9i7vnmamt10.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.982688332078-jrcn2eg7hcvvosq3fv0hj9i7vnmamt10</string>
	<key>API_KEY</key>
	<string>AIzaSyDTAHLFVgoQvL_t9nOWvQm22yLOj0tFrvk</string>
	<key>GCM_SENDER_ID</key>
	<string>982688332078</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>kr.co.khstar.KGout</string>
	<key>PROJECT_ID</key>
	<string>kgout-cb589</string>
	<key>STORAGE_BUCKET</key>
	<string>kgout-cb589.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:982688332078:ios:247c5e856461ee58</string>
	<key>DATABASE_URL</key>
	<string>https://kgout-cb589.firebaseio.com</string>
</dict>
</plist>